<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166934775586-igg1jq8854aconbcs09lu9i6bm602mm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166934775586-igg1jq8854aconbcs09lu9i6bm602mm9</string>
	<key>API_KEY</key>
	<string>AIzaSyCHZUeeehu-jMSjVX9XpGvRuOSS-jLCAHc</string>
	<key>GCM_SENDER_ID</key>
	<string>166934775586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moonrainbowsoft.time.flutterTimeHello</string>
	<key>PROJECT_ID</key>
	<string>timerbell-macos</string>
	<key>STORAGE_BUCKET</key>
	<string>timerbell-macos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166934775586:ios:cc82f221b70cbda562c77b</string>
</dict>
</plist>